# ServiceNow PDI credentials
# After you request a PDI at developer.servicenow.com, you'll get an email with these.
SN_INSTANCE=dev266363
SN_USER=admin
SN_PASSWORD=ohSkH*SMa7/3

# RackTrack integration
# Set to "true" to use the local mock_scans/ folder, "false" to hit a live RackTrack server.
RACKTRACK_USE_MOCK=true
RACKTRACK_URL=http://localhost:3000
RACKTRACK_JWT=
